:root {
 --white: rgb(248, 238, 243);
 --dark-blue: #0c0b0c;
 --sea-blue: #b1dbd6;
 font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:white
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;    
}

.h2{
    font-size: 2.4em;
    margin-bottom: 10px;
}


.links {
    margin: auto 0;
    padding: 0;
    height: fit-content;
}

nav  {
    display: flex;
    background-color: var(--sea-blue);
    justify-content: space-between;
    padding: 20px;      
}


nav h1 {
    margin: 0;
    padding: 5px;
    color:#172f42;
    border-radius: 8px;
}

nav a {
    color: var(--dark-blue);
    padding: 14px 30px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.container {
    display: inline-flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
} 

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;  
}


.col2 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.col2>div {
    border-left: 10px solid rgb(186, 216, 213);
    margin-bottom: 20px;
    padding-left: 40px;  
}

.col2 img {
    float: left;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.apps {
    position: relative;
    margin: 5px;
}

.apps div {
    position: absolute;
    left: 5px;
    top: 50%;
    background: rgb(226, 196, 161);
    padding: 10px;
    border: 3px solid rgb(236, 229, 229);
    border-radius: 8px;
}

.apps:first-child {
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
.apps:first-child img {
    width: 100%;
    height: 30vh;
    overflow: hidden;
}


@media screen and (max-width: 992px){
    section {
        width: 45%;
    }
}

@media screen and (max-width: 768px){
    section {
        width: 90%;
        flex-direction: column;
    }
}


